@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --blanco: white;
  --negro: black;
  --gris: #f3f6f8;
  --azul: #054f77;
  --tipo-titulo: "Roboto Condensed", sans-serif;
  --tipo-principal: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img {
    max-width: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center center;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.header{
    width: 100%;
    min-width: 5em;
    background: red;
}
.header .h1{}
.header .h1.a{}
.header .nav{}
.header .nav .ul{}
.header .nav .ul .li{}
.header .nav .ul .li .a{}