@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --blanco: white;
  --negro: black;
  --gris: #f3f6f8;
  --azul: #054f77;
  --tipo-titulo: "Roboto Condensed", sans-serif;
  --tipo-principal: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img {
    max-width: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center center;
}

a, ul, li {
    display: block;
    text-decoration: none;
    color: inherit;
}

.header{
    width: 100%;
    min-height: 5em;

    padding: 1em 2em;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.header .h1{

}
.header .h1.a{}
.header .nav{

}
.header .ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.header .li{
    margin: 0 1em;

}
.header .li .a{}

.main {
    background: lightgrey;
    margin: 1em 0;
    text-align: center;
}

.seccion {
    width: 100%;
    min-height: 80vh;
    background: lightblue;
    margin: 1em 0;
    padding: 2em;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.seccion .circulos{}
.seccion .circulo{}
.seccion .h2 {}
.seccion .h3 {}

.seccion .p {}
.seccion .grid {
    width: 90%;
    background: lightcoral;

    display: grid;
    grid-template-columns: repeat( auto-fit, minmax( 1fr, 10rem));
}
.seccion .article {
    width: 100%;
    background: lightgoldenrodyellow;
}
.seccion .a {}
.seccion .img{}
.seccion .h4{}

.about {}
.about .h2{}
.about .p{}
.about .rrss{}
.about .li{}
.about .a{}
.about .svg {}